:root {
  --main-bg-color: hsl(220, 18%, 13%);
  --main-text-color: #ffffff;
  --main-bg-light-color: #4e5155;
  --transition-time: 0.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.logo img {
  width: 100%;
  padding-left: 30px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
.wedo {
  margin-top: 200px;
  margin-bottom: 120px;
}
section {
  width: 100vw;
  margin-bottom: 100px;
}
.why {
  padding-bottom: 50px;
}

.container {
  margin: 0;
  padding: 0px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 100vw;
}

header .logo {
  width: 22vw;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav a {
  width: 15vw;
  padding: 5px 18vw 5px 0px;
  text-align: center;
  text-decoration: none;
  font-family: Quicksand;
  font-size: 2vw;
  color: whitesmoke;
}


.hero {
  color: var(--main-text-color);
  font-size: 20px;
  padding: 4rem 10rem;
}

.hero h1 {
  color: #ff9933;
  font-size: 2.5em;
}
.hero h1 strong {
  color: #ff9933;
}
.garments {
  color: white;
}
.price {
  color: white;
}
.hero h1 span {
  color: white;
}

.hero p {
  width: 40vw;
  font-size: 1.3rem;
}

.hero button {
  background: rgba(255, 168, 39, 1);
  color: #000000;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  border-radius: 55px;
  margin-top: 2.5vh;
}

.about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.about img {
  width: 400px;
  border-radius: 8px;
}
.about h2 {
  font-size: 3.5rem;
  font-weight: 700;
}
.extra {
  width: 40vw;
}
.extra h2 {
  font-size: 2.5rem;
  width: 40vw;
}
.extra p {
  font-size: 0.85rem;
  width: 50vw;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
  width: 100vw;
}

.feature h3 {
  width: 250px;
  height: 250px;
  background: rgba(217, 217, 217, 1);
  border-radius: 20px;
  padding: 50px 50px;
  margin: 10px 45px;
  color: #ff9933;
  font-size: 35px;
  text-align: left;
}
.feature p {
  width: 330px;
  font-size: 0.9rem;
}

.product-tag {
  font-weight: 800;
  font-family: sans-serif;
  text-align: start;
  font-size: 50px;
}
.products {
  display: flex;
  justify-content: space-around;
}

.product {
  display: flex;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product p {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: monospace;
}

.faq {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

.faq h2 {
  padding: 10px 40px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.faq-item {
  margin-bottom: 15px;
  padding: 0px 40px;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.faq-item h3 {
  margin-bottom: 5px;
}

.faq-item p {
  padding: 0 10px;
  max-height: 0;
  transition: max-height 0.5s ease;
  width: 75vw;
}

.faq-item:hover p {
  max-height: 100px;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer button {
  background: rgba(255, 168, 39, 1);
  color: #000000;
  padding: 18px 31px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  border-radius: 55px;
}

@media (max-width: 768px) {
  .hero {
    padding: 4rem 6rem;
  }
  .hero h1 {
    width: 54vw;
    font-size: 30px;
  }
  .hero p {
    width: 100%;
    font-size: 0.87rem;
  }

  .feature p {
    width: 380px;
  }
  .features,
  .products {
    flex-direction: column;
  }

  .feature,
  .product {
    flex: 1 1 100%;
    margin: 10px 0;
  }
  .extra h2 {
    font-size: 1.7rem;
  }
  .extra p {
    font-size: 0.7rem;
  }
  .about img {
    width: 40vw;
  }
}

.product-tag {
  text-align: center;
  margin-top: 40px;
}

.extra span {
  font-weight: bold;
}

.extra h3 {
  color: rgba(24, 30, 81, 1);
}

@media (max-width: 550px) {
  .hero {
    padding: 4rem 4rem;
  }
  header .logo {
    width: 100px;
  }
  header nav a {
    font-size: 15px;
  }
  .hero h1 {
    font-size: 30px;
  }

  .about img {
    width: 45vw;
  }

  .hero button {
    font-size: 13px;
  }
  .about {
    flex-direction: column;
    padding: 0 6vw;
    gap: 20px;
  }
  .extra h2 {
    font-size: 1.7rem;
    width: 60vw;
  }
  .product-tag {
    font-size: 2.5rem;
  }
}
.prodwrapper {
  transition: all var(--transition-time);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-block: 4em;
}

.prodcard {
  transition: all var(--transition-time);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18em;
  height: 14em;
  padding: 1em;
  background-color: var(--main-bg-color);
  border-radius: 1em;
}
.prodcard:hover {
  transition: all 0.5s;
  height: 17em;
}

.prodimage {
  transition: all var(--transition-time);
  position: absolute;
  inset: 0.5em 0.5em 0em 0.5em;
}
.prodcard:hover .prodimage {
  transition: all var(--transition-time);
  position: absolute;
  inset: -4em 2em 0em 2em;
}

.prodimg {
  transition: all var(--transition-time);
  max-width: 100%;
  object-fit: cover;
  /* border: 0em solid var(--main-bg-color); */
  border-radius: 0.8em;
}
.prodcard:hover .prodimg {
  transition: all var(--transition-time);
  border: 0.5em solid var(--main-bg-color);
  border-radius: 1.2em;
}

.prodp {
  transition: all var(--transition-time);
  position: absolute;
  top: 3em;
  opacity: 0;
}
.prodcard:hover .prodp {
  transition: all var(--transition-time);
  transition-delay: 0.5s;
  position: absolute;
  top: 6em;
  opacity: 1;
}

.prodbutton {
  position: absolute;
  bottom: 0.4em;
  left: 50%;
  translate: -50% 0;
  padding: 0.25em 1em;
  background: #ffa565;
  outline: 0em solid var(--main-bg-color);
  border-radius: 4em;
  transition: all var(--transition-time);
}
.prodcard:hover .prodbutton {
  transition: all var(--transition-time);
  bottom: -1.3em;
  cursor: pointer;
  padding: 0.5em 2em;
  outline: 0.5em solid var(--main-bg-color);
}

/* card */
.cardfeature {
  width: 300px;
  height: 300px;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardfeature:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.cardfeature:active .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446a;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #03446a;
  text-align: center;
  font-size: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  background-size: cover;
}
.back {
  background: #03446a;
  color: white;
  transform: rotateY(180deg);
}
.front-b {
  background-image: url("./assets/Bulk.png");
}
.front-e {
  background-image: url("./assets/Quality.png");
}
.front-f {
  background-image: url("./assets/Fast.png");
}
